# API Érudit
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1
EXPO_PUBLIC_API_TIMEOUT=15000
EXPO_PUBLIC_APP_NAME=Érudit
EXPO_PUBLIC_APP_VERSION=4.0.0

# Production
# EXPO_PUBLIC_API_URL=https://api.ecole.bj/api/v1
